<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pe.com.optical.middleware.crm.mapper.VentaMapper">

	<resultMap type="pe.com.optical.middleware.crm.bean.VentaBE" id="VentaResult">
		<id property="id" column="VENI_ID" />
		<result property="monto" column="VEND_MONTO" />		
		<result property="fechaCreacion" column="VEND_FECHA_CREACION" />						
	</resultMap>	
	
	<select id="buscarPorId" parameterType="int" resultMap="VentaResult" statementType="CALLABLE">
		EXEC SAUDB_VENTA_X_ID	@id = #{id};
	</select>
	
	<select id="buscar" resultMap="VentaResult" statementType="CALLABLE">		
		EXEC SAUDB_VENTAS;
	</select>
	
	<insert id='crear' parameterType='pe.com.optical.middleware.crm.bean.VentaBE'
		 statementType="CALLABLE">		
			EXEC SAUDC_VENTA @monto = #{monto};
	</insert>

	<update id='actualizar' parameterType='pe.com.optical.middleware.crm.bean.VentaBE' statementType="CALLABLE">
		 EXEC SAUDA_VENTA @id = #{id}, @monto = #{monto};
	</update>

	<delete id='eliminar' parameterType='int' statementType="CALLABLE">		
		EXEC SAUDE_VENTA @id = #{id};
	</delete>


</mapper>
